<!-- <button (click)="fullEdit()" [hidden]="fullEditMode">Full Edit Mode</button>


<button (click)="confirmEdit()" [hidden]="!fullEditMode">ConfirmEdit</button> -->




<form [formGroup]="orderForm" class="normal-form">


    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controlers-container">
                <!--  -->
                <mat-form-field>
                    <input matInput placeholder={{OrderId}} formControlName="OrderId">

                </mat-form-field>
                <!--  -->
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="OrderDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!--  -->
                <mat-form-field>
                    <input matInput placeholder={{Customer}} formControlName="Customer">

                </mat-form-field>

                <!--  -->


                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <select matNativeControl required formControlName="Status">
                    <option value="New">New</option>
                    <option value="Order Placed">Order Placed</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Closes">Closes</option>
                  </select>
                </mat-form-field>
                <!--  -->
            </div>
        </mat-grid-tile>


        <mat-grid-tile>
            <div class="controlers-container">
                <div class="add-bottom-padding">
                    <div>
                        <mat-label>Purchase Order</mat-label>
                        <input type="file" (change)="onFileChangedPurchaseOrder($event)" />
                    </div>

                    <div>
                        <mat-label>invoice</mat-label>

                        <input type="file" (change)="onFileChangedInvoice($event)" />
                    </div>
                    <div>
                        <mat-label>Delivery Note</mat-label>

                        <input type="file" (change)="onFileChangedDeliveryNote($event)" />
                    </div>


                    <div>
                        <button mat-raised-button (click)="saveOrder()" [hidden]="fullEditMode">Save Order</button>
                    </div>
                </div>

            </div>

        </mat-grid-tile>
    </mat-grid-list>





    <br>
    <div formArrayName="entireForm">
        <div *ngFor="let form of entireForm.controls; let i=index" [formGroupName]="i" class="controlers-container-outer">
            <div class="dynamicField">

                <input matInput placeholder="label or header for this field" formControlName="UserField">
                <input matInput placeholder="data" formControlName="UserEntry">
                <button mat-raised-button color="warn" (click)="deleteField(i)">delete</button>

            </div>
        </div>

    </div>
    <br>
    <div class="addNewField">

        <button (click)="addDynamicFields()">
          add new field
        </button>

    </div>



</form>