table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 90%;
}

table th {
    text-align: left;
    background-color: #3e6070;
    color: #fff;
    padding: 4px 30px 4px 2px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}

.fab-button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}